.App > h1 {
  text-align: center;
  color: white;
}
.App {
  background-image: url("../../background.png");
}
.super-heros-container {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
